# Python
__pycache__/
*.py[cod]
.venv/

# AirSim / Unreal
Saved/
Intermediate/
Build/
*.sln
*.suo

dataset/
models/*.pkl
outputs/
.venv/
.vscode/*
!.vscode/settings.json
models/
src/pipeline/
src/safety.py